# 数据库配置文件：可以配置存储引擎，字符集，最大连接数等等
# utf8mb4: 更广泛的字符编码和表情符号

[mysqld]
# 兼容 8.0 之前的客户端服务
default-authentication-plugin=mysql_native_password

# 设置服务器字符编码
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

# 忽略数据表名大小写：该属性只有初始化构建时才生效
# lower_case_table_names=1

# 最大允许传输包大小
max_allowed_packet=20M

# 最大连接数
max_connections=5000

[mysql]
host=localhost
# user=test
# password=test
# 设置客户端默认字符集
default-character-set=utf8mb4

[client]
port=3306
default-character-set=utf8mb4
